body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  padding: 20px;
}

h1, h2 {
  color: #f5c518;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

li {
  width: 200px;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 10px;
}

p {
  margin-top: 8px;
  font-size: 14px;
}

#dettagli {
  display: none;
  margin-top: 40px;
  padding: 20px;
  background: #222;
  border-radius: 10px;
  max-width: 800px;
}

#dettagli h3 {
  color: #f5c518;
  margin-bottom: 10px;
}

li {
  cursor: pointer;
  transition: transform 0.2s;
}

li:hover {
  transform: scale(1.05);
}
.cinema-btn {
  display: inline-block;
  margin: 20px 0 40px 0;
  padding: 12px 20px;
  background-color: #f5c518;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.2s, transform 0.2s;
}

.cinema-btn:hover {
  background-color: #e0b216;
  transform: scale(1.05);
}

